<app-header [show]=[true] [backButtonHref]="['/']"></app-header>
<ion-content>
    <ion-card>
        <ion-card-header color="primary">
            <ion-card-title>login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p *ngIf="!mainFormGroup.valid" class="form-error">please fill out all required details.</p>
            <p *ngIf="loginError" class="form-error">username or password incorrect.</p>
            <ion-list lines="none">
                <form [formGroup]="mainFormGroup">
                    <ion-item>
                        <ion-label position="floating"><ion-icon name="person-outline"></ion-icon></ion-label>
                        <ion-input formControlName="username" type="text" placeholder="username"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
                        <ion-input clearOnEdit="false" formControlName="password" type="password" placeholder="password"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-button
                            style="width: 100%;height: 3em;font-size:1.2em; margin-top:1em;"
                            class="ion-activatable ripple-parent btn-no-trnsfrm" color="primary" (click)="login()">
                            login
                        </ion-button>
                    </ion-item>

                    <ion-item routerLink="../registration">
                        <ion-icon name="person-add-outline"></ion-icon>
                        <ion-text>do not have an account?</ion-text>
                    </ion-item>
                </form>
            </ion-list>
        </ion-card-content>
    </ion-card> 
</ion-content>
