<app-header [show]=[true] [backButtonHref]="['/']"></app-header>
<ion-content>
    <ion-card>
        <ion-card-header color="primary">
            <ion-card-title>register</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p *ngIf="submitAttempt" style="color: #ea6153;">please fill out all required details.</p>
            <p *ngIf="mainFormGroup.hasError('passwordMismatch')" style="color: #ea6153;">passwords do not match</p>
            <ion-list lines="none">
                <form [formGroup]="mainFormGroup">
                    <ion-item>
                        <ion-label position="floating"><ion-icon name="person-outline"></ion-icon></ion-label>
                        <ion-input formControlName="username" type="text" placeholder="username"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon></ion-label>
                        <ion-input formControlName="email" type="text" placeholder="e-mail (optional)"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
                        <ion-input clearOnEdit="false" formControlName="password" type="password" placeholder="password"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
                        <ion-input clearOnEdit="false" formControlName="passwordConfirm" type="password"  placeholder="confirm password"></ion-input>
                    </ion-item>
                    
                    <ion-item>
                        <ion-button class="ion-activatable ripple-parent btn-no-trnsfrm" color="primary" (click)="save()">register</ion-button>
                    </ion-item>
                </form>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
