#container p {
    padding: .3em;
    padding-left: 1em;
}

#placeholder {
    width: 100%;
    height: 15em;
    background-color: white;
    padding: 0;
}

.btn-no-trnsfrm {
    text-transform: none;
}

#new-route {
    text-transform: none;
    width: 100%;
    padding: 0 1em;

    position: fixed;
    left: 0;
    bottom: 1.5em;
    right: 0;
}

ion-icon {
    margin-right: .3em;
    vertical-align: middle;
}

.stats-table {
    width: 100%;
}

.stats-table tr {
    width: 100%;
}

.stats-table tr td {
    padding: 1em;
}

.trophy {
    background-color: rgb(130, 255, 130);
    color: black;
}