<ion-app>
  <ion-split-pane contentId="burger-menu">
    <ion-menu side="start" contentId="burger-menu" type="reveal">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>

          <ion-item (click)='closeMenu()'>
            <a routerLink="track">
              <ion-icon name="walk-outline"></ion-icon>
              <ion-text>track</ion-text>
            </a>
          </ion-item>

          <ion-item (click)='closeMenu()'>
            <a routerLink="routes">
                <ion-icon name="analytics-outline"></ion-icon>
                <ion-text>routes</ion-text>
            </a>
          </ion-item>

          <ion-item (click)='closeMenu()'>
            <a routerLink="auth/login">
                <ion-icon name="person-outline"></ion-icon>
              <ion-text>log in</ion-text>
            </a>
          </ion-item>

          <ion-item (click)='closeMenu()'>
            <a routerLink="auth/registration">
                <ion-icon name="person-add-outline"></ion-icon>
              <ion-text>register</ion-text>
            </a>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-split-pane>

  <ion-router-outlet id="burger-menu"></ion-router-outlet>
</ion-app>
