<ion-app>
  <ion-split-pane contentId="burger-menu">
    <ion-menu side="start" contentId="burger-menu" type="reveal">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item href="routes"><ion-icon name="analytics-outline"></ion-icon> Routes</ion-item>
          <ion-item href="#"><ion-icon name="person-outline"></ion-icon>Log in</ion-item>
          <ion-item href="#"><ion-icon name="person-add-outline"></ion-icon>Register</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

  </ion-split-pane>
  <ion-router-outlet id="burger-menu"></ion-router-outlet>

</ion-app>
